/auth/.bundle
/auth/db/*.sqlite3
/auth/db/*.sqlite3-*
/auth/log/*
/auth/tmp/*
/auth/tmp/pids/*
/auth/storage/*
/auth/tmp/storage/*
/auth/public/assets
/auth/config/master.key

!/auth/tmp/storage/
!/auth/tmp/storage/.keep
!/auth/storage/.keep
!/auth/log/.keep
!/auth/tmp/.keep
!/auth/tmp/pids/
!/auth/tmp/pids/.keep

/task_tracker/.bundle
/task_tracker/db/*.sqlite3
/task_tracker/db/*.sqlite3-*
/task_tracker/log/*
/task_tracker/tmp/*
/task_tracker/tmp/pids/*
/task_tracker/storage/*
/task_tracker/tmp/storage/*
/task_tracker/public/assets
/task_tracker/config/master.key

!/task_tracker/tmp/storage/
!/task_tracker/tmp/storage/.keep
!/task_tracker/storage/.keep
!/task_tracker/log/.keep
!/task_tracker/tmp/.keep
!/task_tracker/tmp/pids/
!/task_tracker/tmp/pids/.keep
